.DS_Store

# Feature 2 ignored files
.vscode
Feature_2/00-raw-videos/videos
Feature_2/01-data-annotation-and-dataset-preparation/generated_clips/train
Feature_2/01-data-annotation-and-dataset-preparation/generated_clips/validation
Feature_2/01-data-annotation-and-dataset-preparation/generated_clips/test


##
Feature_3/01_video_annotation/extracted_frames
Feature_3/01_video_annotation/shuffled videos

Feature_3/02_model_development/best_frame_dataset/test
Feature_3/02_model_development/best_frame_dataset/train
Feature_3/02_model_development/best_frame_dataset/val
Feature_3/02_model_development/best_frame_selector/adaptation_v2/extracted_frames
Feature_3/02_model_development/best_frame_selector/data/measurement_dataset/sample_best_frames
Feature_3/02_model_development/best_frame_selector/outputs/old_video_test/selected_frames
Feature_3/02_model_development/best_frame_selector/outputs/sample_run/selected_frames
Feature_3/02_model_development/best_frame_selector/sample_videos

Feature_3/06_garment_measurement/data/annotation_pilot/images
Feature_3/06_garment_measurement/data/raw_best_frames
Feature_3/01_video_annotation/dataset_v2_fixed_height/extracted_frames
Feature_3/garment_piece_detector/dataset_v2_fixed_height/selected_best_frames
Feature_3/02_model_development/best_frame_selector
Feature_3/02_model_development/best_frame_selector
*__pycache__/
Feature_3/01_video_annotation
Feature_3/02_model_development
Feature_3/06_garment_measurement
Feature_3/garment_piece_detector


Feature_3/garment_size_frontend
Feature_3/01_video_annotation/dataset_v2_fixed_height/selected_best_frames
Feature_3/garment_piece_detector/dataset_v2_fixed_height/best_frame_selections/L-1_best_selections.csv
Feature_3/garment_piece_detector/dataset_v2_fixed_height/extracted_frames/frame_extraction_summary.csv
Feature_3/garment_piece_detector/dataset_v2_fixed_height/extracted_frames
Feature_3/garment_piece_detector/old_model_test
Feature_3/garment_piece_detector/training_results/new garment.v4i.yolov8
Feature_3/garment_piece_detector
Feature_3/frontend
Feature_2